.auth_section_1 {
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_section {
    border: 1px solid white;
    background-color: black;
    color: white;
    width: 35%;
    border-radius: 18px;
}

input:focus {
    outline: none;
    border: none
}

input::placeholder {
    color: #888 !important;
    font-style: italic;
    font-size: 16px;
    font-family: Arial, sans-serif;
    opacity: 0.5 !important;
}

@media (max-width: 767px) {
    .form_section {
        width: 90%;
    }
}