.completed-tasks-wrap {
    background-color: #000000;
    overflow: hidden;
}

.accordion-button {
    background-color: black !important;
    color: white !important;
}

.accordion-header {
    border-bottom: 1px solid white;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button::after {
    background-image: none !important;
}

.accordion-body {
    background: black;
    overflow: hidden;
}

.accordion-collapse {
    height: 100%;
    overflow: scroll;
    scrollbar-width: none;
}